.all-players-page {
    margin: 70px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .table-container {
    overflow-x: auto;
    max-width: 100%;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    word-wrap: break-word;
  }
  
  th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
  }
  
  td {
    background-color: #f9f9f9;
  }
  
  .edit-btn, .delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 4px;
  }
  
  .edit-btn {
    background-color: #007bff;
    color: white;
  }
  
  .edit-btn:hover {
    background-color: #0056b3;
  }
  
  .delete-btn {
    background-color: #cf2f1d;
    color: white;
  }
  
  .delete-btn:hover {
    background-color: #ca1b08;
  }

  .search-container {
    margin: 20px 0;
    text-align: center;
  }
  
  .search-input {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }