.fee-page {
    color: white;
    background-color: #2c2f33;
    padding: 20px;
    font-family: Arial, sans-serif;
    border-radius: 20px;
    margin-top: 75px;
  }
  
  .fee-page h1 {
    font-size: 40px;
    color: white!important;
  }
  
  .fee-page h2 {
    font-size: 30px;
    color: white!important;
  }
  
  .month-selector {
    padding: 20px;
  }
  
  .month-selector label {
    font-size: 25px;
    color: white!important;
  }
  
  .fee-container {
    margin-top: 30px;
    background-color: rgb(56, 56, 56);
    border-radius: 30px;
  }
  
  .fee-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white!important;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .fee-item span {
    color: black!important;
    font-size: 18px;
  }
  
  .payment-info {
    margin-top: 20px;
  }
  
  .payment-info h3 {
    font-size: 25px;
    color: white!important;
  }
  
  .fee-details {
    background-color: #2c2f33;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
  }
  
  .fee-details p {
    color: white!important;
    font-size: 18px;
  }
  
  .loading {
    color: white!important;
    font-size: 20px;
    text-align: center;
  }

  .fee-page h3{
    color: white!important;
  }
  