.player-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: #f6f6f6;
  color: black;
  text-align: center;
  padding: 20px;
}

.player-dashboard h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.player-dashboard h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: black;
}

.player-dashboard h3 {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: gray;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 0;
  margin-bottom: 20px;
}

.action-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.action-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.action-icon {
  font-size: 32px;
  margin-bottom: 8px;
  color: black;
}

.action-box span {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.loading {
  color: black;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .player-dashboard {
    height: auto;
    padding: 20px;
  }

  .player-dashboard h1 {
    font-size: 2rem;
  }

  .player-dashboard h2 {
    font-size: 1.5rem;
  }

  .buttons-container {
    flex-direction: column;
    align-items: center;
  }

  .action-box {
    width: 100%;
    font-size: 1.5rem;
    padding: 10px;
    margin: 5px 0;
  }
}